{% load static %}

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta Http-Equiv="Cache-Control" Content="no-cache"/>
    <meta Http-Equiv="Pragma" Content="no-cache"/>
    <meta Http-Equiv="Expires" Content="0"/>
    <link href="{% static 'image/favicon.png' %}" rel="icon">
    <link href="{% static 'image/favicon.png' %}" rel="apple-touch-icon">
    <link href="{% static '/non_auth/css/font.google.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/non_auth/css/font-awesome.css' %}" crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/non_auth/css/style.css' %}">
</head>

<body class="img js-fullheight login-body">
    <section class="ftco-section">
        <div class="container w-50">
            <div class="overlay">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center mb-5">
                        <h2 class="heading-section d-none d-sm-block d-sm-none d-md-block">UNIVERSAL DELIVERY EXPRESS</h2>
                        <h2 class="heading-section d-block d-sm-none d-none d-sm-block d-md-none">UDEX</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <div class="login-wrap p-0">
                            <h3 class="mb-4 text-center d-none d-sm-block d-sm-none d-md-block">Have an account?</h3>
                            <form method="post" class="signin-form" id="login-form">
                                {% csrf_token %}
                                <div class="container form-group">
                                    <input type="text" class="form-control" name="username" autofocus="true"
                                        autocapitalize="false" placeholder="Username" minlength="3" maxlength="25" required>
                                    <span class="fa fa-fw fa-user field-icon"></span>
                                </div>
                                <div class="container form-group">
                                    <div class="error-class"></div>
                                </div>
                                <div class="container form-group">
                                    <input id="password-field" type="password" name="password" class="form-control"
                                        placeholder="Password" minlength="6" maxlength="50" required>
                                    <span toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <div class="container form-group">
                                    <div class="error-class"></div>
                                </div>
                                <input type="hidden" name="next" value="{{ request.GET.next }}" />
                                

                                {# Invidual fields error. For e.g. Regex validation error coming from backend #}
                                <div class="container form-group">
                                    {% for key, value in form.errors.items %}
                                        <div class="error-class">{{value.as_text|cut:"* "}}</div>
                                    {% endfor %}
                                </div>
                                <div class="container form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3">Log
                                        In</button>
                                </div>
                            </form>
                            <div class="container form-group d-md-flex">
                                <div class="w-100 text-md-center">
                                    <a href="{% url 'reset_password' %}" style="color: #fff">Forgot Password?</a>
                                </div>
                            </div>
                            <div class="w-100 text-md-center">
                                <a href="{% url 'homepage_view' %}" style="color: #fff">Back</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static '/non_auth/js/jquery-3.6.3.js' %}"></script>
    <script src="{% static '/non_auth/js/popper.min.js' %}"></script>
    <script src="{% static '/non_auth/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/constants.js' %}"></script>
    <script src="{% static '/JQuery-Validator/jquery.validate.min.js' %}"></script>
    <script src="{% static '/JQuery-Validator/additional-methods.min.js' %}"></script>
    <script src="{% static '/validators/custom_validator_function.js' %}"></script>
    <script src="{% static '/validators/login.js' %}"></script>
    <script src="{% static '/non_auth/js/login.js' %}"></script>
    <script src="{% static '/non_auth/js/beacon.min.js' %}"></script>
</body>