<!DOCTYPE html>
<html>
<head>

</head>
<body>



<div style="width: 95%; border: 1px solid rgb(10, 10, 10,10); padding: 10px; margin: 3px;">

    <div  style="margin-bottom: 2px; border: 1px solid rgb(7, 7, 7); background-color: rgb(238, 238, 238);  width: 100%;">&emsp;<b>File Name: </b>{{filename}}</div>
    
    <div style="margin-bottom: 2px; border:  1px solid rgb(10, 10, 10); background-color: rgb(238, 238, 238);  width: 100%;">&emsp;<b>Error details </b></div>
    
    <div style="margin-bottom: 2px; padding: 10px; border:  1px solid rgb(10, 10, 10); background-color: rgb(238, 238, 238);  width: 98%;">
        <b>User: </b>{{user}}<br>
        <p></p>
        <b>Path: </b>{{path}}<br>
        <p></p>
        <b>Date Time: </b>{{date}}<br>
        <p></p>
        <b>Error Type: </b>{{type}}<br>
        <p></p>
        <b>Message:</b>{{errors}}
        <p></p>


    </div>


</div>


</body>
</html>