<!DOCTYPE html>
<html>
<head>

</head>
<body>



<div style="width: 95%; border: 1px solid #2196F3; padding: 10px; margin: 3px;">

    <div  style="margin-bottom: 2px; border: 1px solid #2196F3; background-color: rgb(255 250 250);  width: 100%;">&emsp;<b>File Name: </b>{{filename}}</div>
    
    <div style="margin-bottom: 2px; border:  1px solid #2196F3; background-color: rgb(255 250 250);  width: 100%;">&emsp;<b>Error details </b></div>
    
    <div style="margin-bottom: 2px; padding: 10px; border:  1px solid #2196F3; background-color: rgb(255 250 250);  width: 98%;">
        <b>User: </b>{{user}}<br>
        <p></p>
        <hr>
        <b>Path: </b>{{path}}<br>
        <p></p>
        <hr>
        <b>IP Address: </b>{{user_ip}}<br>
        <p></p>
        <hr>
        <b>Date Time: </b>{{date}}<br>
        <p></p>
        <p></p>
        <hr>
        <b>Message: </b>{{errors}}
        <p></p>


    </div>


</div>


</body>
</html>