{% load static %}


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>UDEX</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'image/favicon.png' %}" rel="icon">
  <link href="{% static 'image/favicon.png' %}" rel="apple-touch-icon">

  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/loader.css' %}">
  <link rel="stylesheet" href="{% static '/css/dataTables.bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static '/toastr/toastr.min.css' %}">
  <link rel="stylesheet" href="{% static '/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static '/css/form-validation.css' %}">
  <!-- <link rel="stylesheet" href="{% static '/css/tourguide/guides.css' %}"> -->
  
  {% block "extra_css" %}
  {% endblock %}

</head>


<body>

  {% include 'others/loader.html' %}
  {% include 'others/bootstrap_loader.html' %}
  {% block content %}
  {% endblock %}
  
  {% include "others/globals.html" %}

  <script src="{% static '/js/jquery--3.6.3.min.js' %}"></script>
  <script src="{% static '/JQuery-Validator/jquery.validate.min.js' %}"></script>
  <script src="{% static '/JQuery-Validator/additional-methods.min.js' %}"></script>
  <script src="{% static '/toastr/toastr.min.js' %}"></script>
  <script src="{% static '/js/loader-script.js' %}"></script>
  <script src="{% static '/js/mybootstrap-loader-script.js' %}"></script>
  <script src="{% static '/js/cryptojs-aes-format.js' %}"></script>
  <script src="{% static '/js/cryptojs-aes.min.js' %}"></script>
  <script src="{% static '/js/e-d.js' %}"></script>
  <script src="{% static '/js/send-request.js' %}"></script>
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/js/datatables.min.js' %}"></script>
  <script src="{% static '/js/dataTables.bootstrap5.min.js' %}"></script>
  <script src="{% static '/js/constants.js' %}"></script>
  <script src="{% static '/js/quill.js' %}"></script>
  <script src="{% static '/js/quill.min.js' %}"></script>
  <script src="{% static '/js/main.js' %}"></script>

  <script src="{% static '/tipsy_tooltip/popper.min.js'%}"></script>
  <script src="{% static '/tipsy_tooltip/tippy-bundle.umd.js'%}"></script>
  <script src="{% static '/js/notification_bell.js' %}"></script>
  <!-- <script src="{% static '/js/tour-guides/guides.js' %}"></script> -->

  {% block "extra_scripts" %}
  {% endblock %}

</body>