{% extends "default/base.html" %}

{% block content %}

{% include 'others/header.html' %}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>{{page_title}}</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
        
        {% block main_body %}
        {% endblock %}

        </div>
    </section>

</main><!-- End #main -->

{% include 'others/footer.html' %}
{% include 'others/modal.html' %}
{% include 'others/generic_modal.html' %}


{% include 'others/input_modal.html' %}
{% endblock %}
